/**************************************

Structure of the user choise enroller panel

.user-choiseenroller-panel(.visible)
    .uep-wrap
        .uep-header
        .uep-content
        .uep-footer
            .btn-user
                input
            .btn-cohorte
                input

**************************************/

.user-choiseenroller-panel {width:400px;background-color:#666;position:absolute;top:10%;left:10%;border:1px solid #666;border-width:0 5px 5px 0;z-index: 2000;}
.user-choiseenroller-panel.hidden {display:none;}
.user-choiseenroller-panel .uep-wrap {margin-top:-5px;margin-left:-5px;background-color:#FFF;border:1px solid #999;height:inherit;}

.user-choiseenroller-panel .uep-header {background-color:#eee;padding:1px;}
.user-choiseenroller-panel .uep-header h2 {margin:3px 1em 0.5em 1em;font-size:1em;}
.user-choiseenroller-panel .uep-header .close {width:25px;height:15px;position:absolute;top:2px;right:1em;cursor:pointer;background:url("sprite.png") no-repeat scroll 0 0 transparent;}

.user-choiseenroller-panel .uep-content {text-align:center;position:relative;width:100%;border-top:1px solid #999;border-bottom:1px solid #999;}
.user-choiseenroller-panel .uep-content .uep-controls {margin:0;padding:3px;background-color:#ddd;text-align:left;border-bottom:1px solid #BBB;}
.user-choiseenroller-panel .uep-content .uep-controls label {display: inline;padding-right:5px;}
.user-choiseenroller-panel .uep-content .uep-controls .uep-enrolment-option input {vertical-align:middle;margin-left:1em;}

.user-choiseenroller-panel .uep-footer {padding:3px;background-color:#ddd;text-align:center;}
.user-choiseenroller-panel .uep-footer .btn-user input {max-width:300px; width:95%;}
.user-choiseenroller-panel .uep-footer .btn-user button {max-width:300px; width:95%;}
.user-choiseenroller-panel .uep-footer .btn-cohorte input {max-width:300px; width:95%;}
.user-choiseenroller-panel .uep-footer .btn-cohorte button {max-width:300px; width:95%;}

.dir-rtl .user-choiseenroller-panel .uep-header .close {right: auto;left:1em;}
.dir-rtl .user-choiseenroller-panel .uep-search-results .user { text-align: right;}
.dir-rtl .user-choiseenroller-panel .uep-content .uep-controls { text-align: right;}
.dir-rtl .user-choiseenroller-panel .uep-search-results .cohort { text-align: right;}

#overlay2{
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
#overlay2:target{
    display: block;
}
#overlay2 a{
    font-weight: bold;
    padding: 10px 25px;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 50px;
}

@media (max-width: 400px) {
    .user-choiseenroller-panel {
      width: calc(100% - 10px);
   }

}